body {
background-color: darkolivegreen;
}
nav{
    padding-bottom: 25px;
    background-color: teal;
    
}
nav ul{
    display:flex;
}
nav ul li{
    padding:5px 20px 5px 20px;
    list-style:none;
}
nav ul li a{
    text-decoration: none;
    color: #5eff479e;
}
#container {
    background-color: lime;
    padding: 50px ;
}
h1 {
    font-size:36px ;
    color: purple;
    font-weight: bold;
}
h2 {
    font-size:24px ;
    color: navy;
}