body {
background-color: darkolivegreen;
}
nav{
    padding-bottom: 25px;
    background-color: teal;
    
}
nav ul{
    display:flex;
}
nav ul li{
    padding:5px 20px 5px 20px;
    list-style:none;
}
nav ul li a{
    text-decoration: none;
    color: #5eff479e;
    font-weight: bold ;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul li a:hover{
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    color: blue;

}
#container {
    background-color: lime;
    padding: 50px ;
}
h1 {
    font-size:36px ;
    color: purple;
    font-weight: bold;
}
h2 {
    font-size:24px ;
    color: navy;
}
#hi {
    background-color: coral;
}